.shimamn {
    display: flex;
    margin-top: 60px;
    /* border: 5px solid rgb(76, 0, 255); */
  }
  
  .shimmer_container {
    border: 2px solid rgb(252, 252, 255);
    background: #d2d6d3;
    height: 450px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* margin: 10px 0px; */
    /* margin-top: 80px; */
    flex-wrap: wrap;
    /* border: 3px solid greenyellow; */
  }
  
  .shimmer_header {
    padding-top: 180px;
    height: 380px;
    width: 100%;
    background: #9b9393;
  }
  
  .shimer_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (max-width:480px) {
    .shimmer_container{
        width: 250px;
        height: 350px;
    }
    .shimmer_header{
        height: 280px;
    }
  }