.conatct_container{
    background: linear-gradient(to right top, #070708, #100c1a, #1a0e25, #260d2e, #360633);
    height: 100vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}
.left{
    border:3px solid white;
    border-radius: 10px;
    height: fit-content;
    width: 300px;
    background: #fff;
    
    /* padding: 10px 20px; */

}
.faq{
    background: #3FCCD8;
    width:100%;
    padding: 15px 10px;
    /* border-bottom: 3px solid white; */
    border-radius: 10px;
    overflow: hidden;
}
.faq h2{
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
}
.list{
    padding: 10px 5px;
    background: #ffff;
    color: #100c1a;
    font-family: "Aboreto";
    font-weight: 600;
    width: auto;
}
.list:hover{
    color: #5A3192;
}
.right{
    max-width: 1200px;
}
.right h2{
    font-size: 25px;

}
.support{
    color: #3FCCD8;
    padding-left: 5px;
}